**/.DS_Store
__pycache__/
notebooks
log*.txt
*.png
*.pt
results*/
ablation/logs/
optuna/logs/
optuna/study.db
patching_results*/
splits/
heatmaps/*
features*/
heatmaps/heatmap_production_results/
heatmaps/heatmap_raw_results/
wsi_test/
